/* Start Game Header Styling */
.game_header {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.8rem;
}

.current_move_message {
  color: #fff;
  font-size: 1.5rem;
  padding-right: 1rem;
}

.game_header_button {
  font-size: 0.9em;
  padding: 4px 10px;
  margin: 0px 2px 0px 2px;
  border: 2px solid #2c3e50;
  height: fit-content;
  width: 5.5rem;
  background-color: #fff;
}

.game_header_button:hover {
  box-shadow: 0px 2px 10px 5px #9bb3ce;
  transition: 0.5s ease;
}

/* Start Board Styling */
.game_board {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 38em;
  margin: 0 auto;
  background-color: #34495e;
  border: 10px solid #2c3e50;
  border-radius: 10px;
  color: #fff;
}

/* Shake board when user tries clicking already taken square */
.game_board_when_input_error {
  animation: shake 0.5s;
  animation-iteration-count: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  margin: auto;
  background-color: #34495e;
  border: 10px solid #2c3e50;
  border-radius: 10px;
  color: #fff;
}

.undoHistory_dom_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;
}

.pick_undo_button {
  display: flex;
  justify-content: space-between;
  margin: 0rem 0.2rem 0rem 0.2rem;
  padding: 0.2rem;
  width: 1rem;
  border: 1px solid black;
  color: black;
  background-color: #fff;
}

.pick_undo_button:hover {
  box-shadow: 0px 2px 10px 5px #9bb3ce;
  transition: 0.5s ease;
}

.message {
  color: #fff;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Mobile-Device viewport */
@media (min-width: 100px) and (max-width: 777px) {
  .game_header {
    padding-top: 6rem;
  }

  .current_move_message {
    font-size: 1.4rem;
  }

  .game_board {
    width: 370px;
    height: 370px;
    margin-top: 0.5em;
  }

  .game_board_when_input_error {
    width: 370px;
    height: 370px;
  }
}
